$color__background-body: #21759b;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(0,0,0,0.05);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-box: rgba(255,255,255, 1);
$color__background-content: #E7F7FC;
$color__background-meta: rgba(0,0,0,0.05);
$color__main: #008ABE;


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__main;
$color__link-visited: purple;
$color__link-hover: #404040;
$color__text-main: #404040;
$color__text-sub: $color__background-content;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
