#masthead {
  background-color: $color__background-box;
  padding: 1rem;
  width: 100%;
}
.site-branding {
  text-align: center;
}
.site-title {
  @include font-size(2);
  font-family: 'Fascinate', cursive;
  margin: 0;
  a {
    color: $color__main;
    text-decoration: none;
  }
}
.site-description {
  @include font-size(1);
  margin: 0;
}